body {
	background: 
		linear-gradient(rgba(142, 141, 139, 0.347), rgba(85, 85, 84, 0.703)), 
		url(fon.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top; 
      background-size: contain;
      background-size:cover;
      background-size: 80em 45,71428571em;   
}
